In [1]:
cd C:\Users\Swarnima\home-credit-default-risk

C:\Users\Swarnima\home-credit-default-risk

In [2]:
import pandas as pd

In [5]:
application_test_df = pd.read_csv("application_test.csv")
application_test_df.head()

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
application_test_df.shape

(48744, 121)

In [7]:
application_test_df.isna().sum()

SK_ID_CURR                        0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
FLAG_OWN_REALTY                   0
CNT_CHILDREN                      0
AMT_INCOME_TOTAL                  0
AMT_CREDIT                        0
AMT_ANNUITY                      24
AMT_GOODS_PRICE                   0
NAME_TYPE_SUITE                 911
NAME_INCOME_TYPE                  0
NAME_EDUCATION_TYPE               0
NAME_FAMILY_STATUS                0
NAME_HOUSING_TYPE                 0
REGION_POPULATION_RELATIVE        0
DAYS_BIRTH                        0
DAYS_EMPLOYED                     0
DAYS_REGISTRATION                 0
DAYS_ID_PUBLISH                   0
OWN_CAR_AGE                   32312
FLAG_MOBIL                        0
FLAG_EMP_PHONE                    0
FLAG_WORK_PHONE                   0
FLAG_CONT_MOBILE                  0
FLAG_PHONE                        0
FLAG_EMAIL                        0
OCCUPATION_TYPE               15605
CNT_FAM_MEMBERS                   0
REGION_RATING_CLIENT              0
                              ...
DEF_30_CNT_SOCIAL_CIRCLE         29
OBS_60_CNT_SOCIAL_CIRCLE         29
DEF_60_CNT_SOCIAL_CIRCLE         29
DAYS_LAST_PHONE_CHANGE            0
FLAG_DOCUMENT_2                   0
FLAG_DOCUMENT_3                   0
FLAG_DOCUMENT_4                   0
FLAG_DOCUMENT_5                   0
FLAG_DOCUMENT_6                   0
FLAG_DOCUMENT_7                   0
FLAG_DOCUMENT_8                   0
FLAG_DOCUMENT_9                   0
FLAG_DOCUMENT_10                  0
FLAG_DOCUMENT_11                  0
FLAG_DOCUMENT_12                  0
FLAG_DOCUMENT_13                  0
FLAG_DOCUMENT_14                  0
FLAG_DOCUMENT_15                  0
FLAG_DOCUMENT_16                  0
FLAG_DOCUMENT_17                  0
FLAG_DOCUMENT_18                  0
FLAG_DOCUMENT_19                  0
FLAG_DOCUMENT_20                  0
FLAG_DOCUMENT_21                  0
AMT_REQ_CREDIT_BUREAU_HOUR     6049
AMT_REQ_CREDIT_BUREAU_DAY      6049
AMT_REQ_CREDIT_BUREAU_WEEK     6049
AMT_REQ_CREDIT_BUREAU_MON      6049
AMT_REQ_CREDIT_BUREAU_QRT      6049
AMT_REQ_CREDIT_BUREAU_YEAR     6049
Length: 121, dtype: int64

In [8]:
drop_columns = ["BASEMENTAREA_AVG","YEARS_BEGINEXPLUATATION_AVG","YEARS_BUILD_AVG","COMMONAREA_AVG","ELEVATORS_AVG","ENTRANCES_AVG","FLOORSMAX_AVG","FLOORSMIN_AVG","LANDAREA_AVG","LIVINGAPARTMENTS_AVG","LIVINGAREA_AVG","NONLIVINGAPARTMENTS_AVG","NONLIVINGAREA_AVG","APARTMENTS_MODE","BASEMENTAREA_MODE","YEARS_BEGINEXPLUATATION_MODE","YEARS_BUILD_MODE","COMMONAREA_MODE","ELEVATORS_MODE","ENTRANCES_MODE","FLOORSMAX_MODE","FLOORSMIN_MODE","LANDAREA_MODE","LIVINGAPARTMENTS_MODE","LIVINGAREA_MODE","NONLIVINGAPARTMENTS_MODE","NONLIVINGAREA_MODE","APARTMENTS_MEDI","BASEMENTAREA_MEDI","YEARS_BEGINEXPLUATATION_MEDI","YEARS_BUILD_MEDI","COMMONAREA_MEDI","ELEVATORS_MEDI","ENTRANCES_MEDI","FLOORSMAX_MEDI","FLOORSMIN_MEDI","LANDAREA_MEDI","LIVINGAPARTMENTS_MEDI","LIVINGAREA_MEDI","NONLIVINGAPARTMENTS_MEDI","NONLIVINGAREA_MEDI","FONDKAPREMONT_MODE","HOUSETYPE_MODE","TOTALAREA_MODE","WALLSMATERIAL_MODE","EMERGENCYSTATE_MODE","FLAG_DOCUMENT_2","FLAG_DOCUMENT_3","FLAG_DOCUMENT_4","FLAG_DOCUMENT_5","FLAG_DOCUMENT_6","FLAG_DOCUMENT_7","FLAG_DOCUMENT_8","FLAG_DOCUMENT_9","FLAG_DOCUMENT_10","FLAG_DOCUMENT_11","FLAG_DOCUMENT_12","FLAG_DOCUMENT_13","FLAG_DOCUMENT_14","FLAG_DOCUMENT_15","FLAG_DOCUMENT_16","FLAG_DOCUMENT_17","FLAG_DOCUMENT_18","FLAG_DOCUMENT_19","FLAG_DOCUMENT_20","FLAG_DOCUMENT_21","DAYS_LAST_PHONE_CHANGE","FLAG_MOBIL","FLAG_EMP_PHONE","FLAG_WORK_PHONE","FLAG_CONT_MOBILE","FLAG_PHONE","FLAG_EMAIL"]
application_test_df.drop(drop_columns, axis = 1, inplace = True)
application_test_df

,SK_ID_CURR,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100001,Cash loans,F,N,Y,0,135000.0,568800.0,20560.5,450000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,100005,Cash loans,M,N,Y,0,99000.0,222768.0,17370.0,180000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
2,100013,Cash loans,M,Y,Y,0,202500.0,663264.0,69777.0,630000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0
3,100028,Cash loans,F,N,Y,2,315000.0,1575000.0,49018.5,1575000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
4,100038,Cash loans,M,Y,N,1,180000.0,625500.0,32067.0,625500.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5,100042,Cash loans,F,Y,Y,0,270000.0,959688.0,34600.5,810000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
6,100057,Cash loans,M,Y,Y,2,180000.0,499221.0,22117.5,373500.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
7,100065,Cash loans,M,N,Y,0,166500.0,180000.0,14220.0,180000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
8,100066,Cash loans,F,N,Y,0,315000.0,364896.0,28957.5,315000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
9,100067,Cash loans,F,Y,Y,1,162000.0,45000.0,5337.0,45000.0,...,4.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
10,100074,Cash loans,F,N,Y,0,67500.0,675000.0,25447.5,675000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,100090,Cash loans,F,N,Y,0,135000.0,261621.0,16848.0,216000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
12,100091,Cash loans,F,N,Y,0,247500.0,296280.0,23539.5,225000.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0
13,100092,Cash loans,F,Y,Y,0,90000.0,360000.0,18535.5,360000.0,...,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
14,100106,Revolving loans,M,N,Y,0,180000.0,157500.0,7875.0,157500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
15,100107,Cash loans,M,Y,Y,0,180000.0,296280.0,21690.0,225000.0,...,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0
16,100109,Cash loans,F,Y,Y,0,202500.0,407520.0,26041.5,360000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
17,100117,Cash loans,M,Y,Y,0,90000.0,499221.0,22117.5,373500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
18,100128,Cash loans,F,Y,Y,1,225000.0,431280.0,23526.0,360000.0,...,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,3.0,4.0
19,100141,Cash loans,F,Y,Y,0,175500.0,478498.5,46741.5,454500.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
20,100150,Cash loans,F,N,Y,0,99000.0,225000.0,19242.0,225000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
21,100168,Cash loans,F,N,Y,0,157500.0,266652.0,16443.0,202500.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
22,100169,Cash loans,F,N,Y,0,135000.0,540000.0,27702.0,540000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
23,100170,Cash loans,M,N,Y,1,337500.0,1313212.5,42493.5,1012500.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0
24,100171,Cash loans,M,Y,Y,0,157500.0,539100.0,29245.5,450000.0,...,7.0,0.0,7.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0
25,100172,Cash loans,F,N,Y,0,76500.0,225000.0,12334.5,225000.0,...,4.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
26,100184,Cash loans,F,N,Y,0,112500.0,256032.0,10759.5,180000.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0
27,100187,Cash loans,F,N,Y,0,225000.0,501363.0,25726.5,418500.0,...,5.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
28,100212,Cash loans,F,Y,N,0,90000.0,450000.0,23107.5,450000.0,...,5.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29,100222,Cash loans,F,Y,Y,0,360000.0,945000.0,34074.0,945000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48714,455963,Cash loans,F,N,N,1,360000.0,547272.0,43366.5,495000.0,...,2.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,2.0,1.0
48715,455965,Cash loans,M,Y,Y,0,315000.0,900000.0,57519.0,900000.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
48716,456007,Cash loans,M,N,Y,0,135000.0,318645.0,16398.0,216000.0,...,1.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48717,456008,Cash loans,F,N,Y,0,81000.0,180000.0,13455.0,180000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0
48718,456009,Cash loans,F,N,Y,0,225000.0,360000.0,19530.0,360000.0,...,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48719,456010,Cash loans,F,N,Y,1,112500.0,690313.5,35374.5,549000.0,...,6.0,0.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48720,456011,Cash loans,F,Y,Y,1,171000.0,323460.0,23134.5,270000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48721,456013,Cash loans,F,N,Y,1,130500.0,468333.0,37129.5,382500.0,...,10.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
48722,456028,Cash loans,M,N,Y,0,220500.0,166500.0,13284.0,166500.0,...,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0
48723,456058,Cash loans,F,N,N,1,67500.0,315000.0,16213.5,315000.0,...,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
48724,456111,Cash loans,F,N,Y,1,112500.0,514710.0,17707.5,387000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48725,456114,Cash loans,F,N,N,0,45000.0,450000.0,24543.0,450000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
48726,456115,Cash loans,M,N,Y,1,225000.0,1002339.0,37917.0,846000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
48727,456116,Cash loans,F,N,N,1,180000.0,149256.0,15291.0,135000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48728,456119,Cash loans,F,N,Y,0,247500.0,685386.0,38398.5,585000.0,...,3.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0
48729,456120,Cash loans,F,N,N,2,81000.0,135000.0,16020.0,135000.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48730,456122,Cash loans,M,Y,N,2,157500.0,445095.0,40824.0,405000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
48731,456123,Cash loans,F,Y,Y,0,112500.0,450000.0,28890.0,450000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0
48732,456166,Cash loans,F,N,Y,0,189000.0,479700.0,54382.5,450000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0
48733,456167,Cash loans,F,N,Y,0,135000.0,1047771.0,37764.0,904500.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
48734,456168,Cash loans,F,N,Y,0,135000.0,835686.0,46660.5,765000.0,...,3.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
48735,456169,Cash loans,F,N,N,0,85500.0,109008.0,7411.5,90000.0,...,2.0,0.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48736,456170,Cash loans,F,Y,Y,0,157500.0,500490.0,48888.0,450000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
48737,456189,Cash loans,F,N,Y,0,270000.0,360000.0,28570.5,360000.0,...,3.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
48738,456202,Cash loans,F,Y,N,3,135000.0,252022.5,23112.0,217561.5,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0
48739,456221,Cash loans,F,N,Y,0,121500.0,412560.0,17473.5,270000.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
48740,456222,Cash loans,F,N,N,2,157500.0,622413.0,31909.5,495000.0,...,2.0,0.0,2.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
48741,456223,Cash loans,F,Y,Y,1,202500.0,315000.0,33205.5,315000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,1.0
48742,456224,Cash loans,M,N,N,0,225000.0,450000.0,25128.0,450000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0
48743,456250,Cash loans,F,Y,N,0,135000.0,312768.0,24709.5,270000.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,4.0

In [9]:
application_test_df.isna().sum()

SK_ID_CURR                         0
NAME_CONTRACT_TYPE                 0
CODE_GENDER                        0
FLAG_OWN_CAR                       0
FLAG_OWN_REALTY                    0
CNT_CHILDREN                       0
AMT_INCOME_TOTAL                   0
AMT_CREDIT                         0
AMT_ANNUITY                       24
AMT_GOODS_PRICE                    0
NAME_TYPE_SUITE                  911
NAME_INCOME_TYPE                   0
NAME_EDUCATION_TYPE                0
NAME_FAMILY_STATUS                 0
NAME_HOUSING_TYPE                  0
REGION_POPULATION_RELATIVE         0
DAYS_BIRTH                         0
DAYS_EMPLOYED                      0
DAYS_REGISTRATION                  0
DAYS_ID_PUBLISH                    0
OWN_CAR_AGE                    32312
OCCUPATION_TYPE                15605
CNT_FAM_MEMBERS                    0
REGION_RATING_CLIENT               0
REGION_RATING_CLIENT_W_CITY        0
WEEKDAY_APPR_PROCESS_START         0
HOUR_APPR_PROCESS_START            0
REG_REGION_NOT_LIVE_REGION         0
REG_REGION_NOT_WORK_REGION         0
LIVE_REGION_NOT_WORK_REGION        0
REG_CITY_NOT_LIVE_CITY             0
REG_CITY_NOT_WORK_CITY             0
LIVE_CITY_NOT_WORK_CITY            0
ORGANIZATION_TYPE                  0
EXT_SOURCE_1                   20532
EXT_SOURCE_2                       8
EXT_SOURCE_3                    8668
APARTMENTS_AVG                 23887
OBS_30_CNT_SOCIAL_CIRCLE          29
DEF_30_CNT_SOCIAL_CIRCLE          29
OBS_60_CNT_SOCIAL_CIRCLE          29
DEF_60_CNT_SOCIAL_CIRCLE          29
AMT_REQ_CREDIT_BUREAU_HOUR      6049
AMT_REQ_CREDIT_BUREAU_DAY       6049
AMT_REQ_CREDIT_BUREAU_WEEK      6049
AMT_REQ_CREDIT_BUREAU_MON       6049
AMT_REQ_CREDIT_BUREAU_QRT       6049
AMT_REQ_CREDIT_BUREAU_YEAR      6049
dtype: int64

In [10]:
application_test_df[['FLAG_OWN_CAR','OWN_CAR_AGE']]

      FLAG_OWN_CAR  OWN_CAR_AGE
0                N          NaN
1                N          NaN
2                Y          5.0
3                N          NaN
4                Y         16.0
5                Y         10.0
6                Y          3.0
7                N          NaN
8                N          NaN
9                Y          5.0
10               N          NaN
11               N          NaN
12               N          NaN
13               Y          3.0
14               N          NaN
15               Y         14.0
16               Y         11.0
17               Y         15.0
18               Y          8.0
19               Y         10.0
20               N          NaN
21               N          NaN
22               N          NaN
23               N          NaN
24               Y         20.0
25               N          NaN
26               N          NaN
27               N          NaN
28               Y         22.0
29               Y          1.0
...            ...          ...
48714            N          NaN
48715            Y          6.0
48716            N          NaN
48717            N          NaN
48718            N          NaN
48719            N          NaN
48720            Y         12.0
48721            N          NaN
48722            N          NaN
48723            N          NaN
48724            N          NaN
48725            N          NaN
48726            N          NaN
48727            N          NaN
48728            N          NaN
48729            N          NaN
48730            Y         11.0
48731            Y         14.0
48732            N          NaN
48733            N          NaN
48734            N          NaN
48735            N          NaN
48736            Y         12.0
48737            N          NaN
48738            Y         65.0
48739            N          NaN
48740            N          NaN
48741            Y          4.0
48742            N          NaN
48743            Y         22.0

[48744 rows x 2 columns]

In [11]:
application_test_df.loc[application_test_df['FLAG_OWN_CAR'] == 'N', 'OWN_CAR_AGE'] = 0

In [12]:
application_test_df[['FLAG_OWN_CAR','OWN_CAR_AGE']]

      FLAG_OWN_CAR  OWN_CAR_AGE
0                N          0.0
1                N          0.0
2                Y          5.0
3                N          0.0
4                Y         16.0
5                Y         10.0
6                Y          3.0
7                N          0.0
8                N          0.0
9                Y          5.0
10               N          0.0
11               N          0.0
12               N          0.0
13               Y          3.0
14               N          0.0
15               Y         14.0
16               Y         11.0
17               Y         15.0
18               Y          8.0
19               Y         10.0
20               N          0.0
21               N          0.0
22               N          0.0
23               N          0.0
24               Y         20.0
25               N          0.0
26               N          0.0
27               N          0.0
28               Y         22.0
29               Y          1.0
...            ...          ...
48714            N          0.0
48715            Y          6.0
48716            N          0.0
48717            N          0.0
48718            N          0.0
48719            N          0.0
48720            Y         12.0
48721            N          0.0
48722            N          0.0
48723            N          0.0
48724            N          0.0
48725            N          0.0
48726            N          0.0
48727            N          0.0
48728            N          0.0
48729            N          0.0
48730            Y         11.0
48731            Y         14.0
48732            N          0.0
48733            N          0.0
48734            N          0.0
48735            N          0.0
48736            Y         12.0
48737            N          0.0
48738            Y         65.0
48739            N          0.0
48740            N          0.0
48741            Y          4.0
48742            N          0.0
48743            Y         22.0

[48744 rows x 2 columns]

In [13]:
application_test_df['OCCUPATION_TYPE']
application_test_df.loc[application_test_df['OCCUPATION_TYPE'].isna(), 'OCCUPATION_TYPE'] = 'Other'

In [14]:
application_test_df['OCCUPATION_TYPE']

0                        Other
1           Low-skill Laborers
2                      Drivers
3                  Sales staff
4                        Other
5                      Drivers
6        High skill tech staff
7                   Core staff
8                   Core staff
9                  Sales staff
10                       Other
11                    Laborers
12                       Other
13                  Core staff
14                    Laborers
15                    Laborers
16                    Laborers
17                       Other
18                    Managers
19                    Laborers
20                 Sales staff
21                       Other
22                       Other
23                    Laborers
24                     Drivers
25                    Laborers
26                       Other
27                       Other
28                  Core staff
29                       Other
                 ...
48714                 Managers
48715                 Managers
48716                  Drivers
48717                    Other
48718                    Other
48719              Sales staff
48720              Sales staff
48721            Cooking staff
48722                  Drivers
48723                    Other
48724                 Laborers
48725           Cleaning staff
48726               Core staff
48727    High skill tech staff
48728                    Other
48729              Sales staff
48730                 Laborers
48731                    Other
48732              Sales staff
48733              Sales staff
48734                 Laborers
48735                    Other
48736                    Other
48737           Security staff
48738                    Other
48739                    Other
48740              Sales staff
48741                    Other
48742                 Managers
48743               Core staff
Name: OCCUPATION_TYPE, Length: 48744, dtype: object

In [15]:
application_test_df.loc[application_test_df['EXT_SOURCE_1'].isna(), 'EXT_SOURCE_1'] = application_test_df['EXT_SOURCE_1'].mean()
application_test_df['EXT_SOURCE_1']

0        0.752614
1        0.564990
2        0.501180
3        0.525734
4        0.202145
5        0.501180
6        0.760851
7        0.565290
8        0.718507
9        0.210562
10       0.501180
11       0.756722
12       0.263238
13       0.304940
14       0.501180
15       0.344165
16       0.583118
17       0.587175
18       0.339002
19       0.696566
20       0.590531
21       0.501180
22       0.866010
23       0.501180
24       0.501180
25       0.501180
26       0.501180
27       0.501180
28       0.501180
29       0.501180
           ...
48714    0.623896
48715    0.554915
48716    0.361450
48717    0.725281
48718    0.501180
48719    0.498882
48720    0.587915
48721    0.204548
48722    0.501180
48723    0.448657
48724    0.478887
48725    0.642719
48726    0.563175
48727    0.574515
48728    0.787271
48729    0.501180
48730    0.440056
48731    0.573130
48732    0.527067
48733    0.363857
48734    0.410389
48735    0.501180
48736    0.851722
48737    0.442558
48738    0.174671
48739    0.501180
48740    0.501180
48741    0.733503
48742    0.373090
48743    0.501180
Name: EXT_SOURCE_1, Length: 48744, dtype: float64

In [16]:
application_test_df.loc[application_test_df['EXT_SOURCE_2'].isna(), 'EXT_SOURCE_2'] = application_test_df['EXT_SOURCE_2'].mean()
application_test_df['EXT_SOURCE_2']

0        0.789654
1        0.291656
2        0.699787
3        0.509677
4        0.425687
5        0.628904
6        0.571084
7        0.613033
8        0.808788
9        0.444848
10       0.660015
11       0.393715
12       0.470036
13       0.270255
14       0.485770
15       0.684407
16       0.635028
17       0.646764
18       0.375073
19       0.742765
20       0.600999
21       0.708939
22       0.638614
23       0.661226
24       0.687408
25       0.348886
26       0.263101
27       0.266212
28       0.762953
29       0.678602
           ...
48714    0.544646
48715    0.654740
48716    0.008777
48717    0.549354
48718    0.540945
48719    0.350273
48720    0.554481
48721    0.664593
48722    0.385043
48723    0.689392
48724    0.387059
48725    0.095077
48726    0.565268
48727    0.287920
48728    0.635018
48729    0.590742
48730    0.408147
48731    0.432684
48732    0.210374
48733    0.347457
48734    0.472553
48735    0.465881
48736    0.471719
48737    0.689832
48738    0.762352
48739    0.648575
48740    0.684596
48741    0.632770
48742    0.445701
48743    0.456541
Name: EXT_SOURCE_2, Length: 48744, dtype: float64

In [17]:
application_test_df.loc[application_test_df['EXT_SOURCE_3'].isna(), 'EXT_SOURCE_3'] = application_test_df['EXT_SOURCE_3'].mean()
application_test_df['EXT_SOURCE_3']

0        0.159520
1        0.432962
2        0.610991
3        0.612704
4        0.500106
5        0.392774
6        0.651260
7        0.312365
8        0.522697
9        0.194068
10       0.298595
11       0.436506
12       0.415347
13       0.375711
14       0.579727
15       0.263647
16       0.306202
17       0.652897
18       0.347418
19       0.500106
20       0.761026
21       0.746300
22       0.159520
23       0.440058
24       0.662638
25       0.535276
26       0.474051
27       0.595456
28       0.357293
29       0.253963
           ...
48714    0.627991
48715    0.659406
48716    0.500106
48717    0.483050
48718    0.614414
48719    0.698668
48720    0.612704
48721    0.417100
48722    0.500106
48723    0.073965
48724    0.295583
48725    0.687933
48726    0.508287
48727    0.631355
48728    0.556727
48729    0.500106
48730    0.459690
48731    0.733815
48732    0.415347
48733    0.834784
48734    0.569149
48735    0.500106
48736    0.631355
48737    0.255332
48738    0.240541
48739    0.643026
48740    0.500106
48741    0.283712
48742    0.595456
48743    0.272134
Name: EXT_SOURCE_3, Length: 48744, dtype: float64

In [75]:
application_test_df.loc[application_test_df['OBS_30_CNT_SOCIAL_CIRCLE'].isna(), 'OBS_30_CNT_SOCIAL_CIRCLE'] = application_test_df['OBS_30_CNT_SOCIAL_CIRCLE'].mean()
application_test_df['OBS_30_CNT_SOCIAL_CIRCLE']

0          2.0
1          1.0
2          0.0
3          2.0
4          0.0
5          0.0
6          1.0
7          2.0
8          1.0
9          2.0
10         0.0
11         0.0
12         0.0
13         0.0
14         0.0
15         0.0
16         0.0
17         4.0
18         8.0
19         0.0
20         0.0
21         0.0
22         0.0
23         0.0
24         1.0
25         0.0
26        10.0
27         2.0
28         0.0
29         0.0
          ...
307481     0.0
307482     0.0
307483     1.0
307484     0.0
307485     0.0
307486     0.0
307487     0.0
307488     1.0
307489     1.0
307490     0.0
307491     4.0
307492     0.0
307493     0.0
307494    11.0
307495     0.0
307496     0.0
307497     0.0
307498     0.0
307499     4.0
307500     0.0
307501     2.0
307502     0.0
307503     9.0
307504     0.0
307505     0.0
307506     0.0
307507     0.0
307508     6.0
307509     0.0
307510     0.0
Name: OBS_30_CNT_SOCIAL_CIRCLE, Length: 307511, dtype: float64

In [76]:
application_test_df.loc[application_test_df['OBS_60_CNT_SOCIAL_CIRCLE'].isna(), 'OBS_60_CNT_SOCIAL_CIRCLE'] = application_test_df['OBS_60_CNT_SOCIAL_CIRCLE'].mean()
application_test_df['OBS_60_CNT_SOCIAL_CIRCLE']

0          2.0
1          1.0
2          0.0
3          2.0
4          0.0
5          0.0
6          1.0
7          2.0
8          1.0
9          2.0
10         0.0
11         0.0
12         0.0
13         0.0
14         0.0
15         0.0
16         0.0
17         4.0
18         8.0
19         0.0
20         0.0
21         0.0
22         0.0
23         0.0
24         1.0
25         0.0
26        10.0
27         2.0
28         0.0
29         0.0
          ...
307481     0.0
307482     0.0
307483     1.0
307484     0.0
307485     0.0
307486     0.0
307487     0.0
307488     1.0
307489     1.0
307490     0.0
307491     4.0
307492     0.0
307493     0.0
307494    11.0
307495     0.0
307496     0.0
307497     0.0
307498     0.0
307499     4.0
307500     0.0
307501     2.0
307502     0.0
307503     9.0
307504     0.0
307505     0.0
307506     0.0
307507     0.0
307508     6.0
307509     0.0
307510     0.0
Name: OBS_60_CNT_SOCIAL_CIRCLE, Length: 307511, dtype: float64

In [77]:
application_test_df.loc[application_test_df['DEF_30_CNT_SOCIAL_CIRCLE'].isna(), 'DEF_30_CNT_SOCIAL_CIRCLE'] = application_test_df['DEF_30_CNT_SOCIAL_CIRCLE'].mean()
application_test_df['DEF_30_CNT_SOCIAL_CIRCLE']

0         2.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8         0.0
9         0.0
10        0.0
11        0.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        1.0
25        0.0
26        1.0
27        0.0
28        0.0
29        0.0
         ...
307481    0.0
307482    0.0
307483    1.0
307484    0.0
307485    0.0
307486    0.0
307487    0.0
307488    0.0
307489    1.0
307490    0.0
307491    0.0
307492    0.0
307493    0.0
307494    0.0
307495    0.0
307496    0.0
307497    0.0
307498    0.0
307499    0.0
307500    0.0
307501    1.0
307502    0.0
307503    3.0
307504    0.0
307505    0.0
307506    0.0
307507    0.0
307508    0.0
307509    0.0
307510    0.0
Name: DEF_30_CNT_SOCIAL_CIRCLE, Length: 307511, dtype: float64

In [78]:
application_test_df.loc[application_test_df['DEF_60_CNT_SOCIAL_CIRCLE'].isna(), 'DEF_60_CNT_SOCIAL_CIRCLE'] = application_test_df['DEF_60_CNT_SOCIAL_CIRCLE'].mean()
application_test_df['DEF_60_CNT_SOCIAL_CIRCLE']

0         2.0
1         0.0
2         0.0
3         0.0
4         0.0
5         0.0
6         0.0
7         0.0
8         0.0
9         0.0
10        0.0
11        0.0
12        0.0
13        0.0
14        0.0
15        0.0
16        0.0
17        0.0
18        0.0
19        0.0
20        0.0
21        0.0
22        0.0
23        0.0
24        0.0
25        0.0
26        0.0
27        0.0
28        0.0
29        0.0
         ...
307481    0.0
307482    0.0
307483    1.0
307484    0.0
307485    0.0
307486    0.0
307487    0.0
307488    0.0
307489    0.0
307490    0.0
307491    0.0
307492    0.0
307493    0.0
307494    0.0
307495    0.0
307496    0.0
307497    0.0
307498    0.0
307499    0.0
307500    0.0
307501    1.0
307502    0.0
307503    2.0
307504    0.0
307505    0.0
307506    0.0
307507    0.0
307508    0.0
307509    0.0
307510    0.0
Name: DEF_60_CNT_SOCIAL_CIRCLE, Length: 307511, dtype: float64

In [79]:
application_test_df.loc[application_test_df['AMT_REQ_CREDIT_BUREAU_HOUR'].isna(), 'AMT_REQ_CREDIT_BUREAU_HOUR'] = application_test_df['AMT_REQ_CREDIT_BUREAU_HOUR'].mean()
application_test_df['AMT_REQ_CREDIT_BUREAU_HOUR']

0         0.000000
1         0.000000
2         0.000000
3         0.006402
4         0.000000
5         0.000000
6         0.000000
7         0.000000
8         0.000000
9         0.006402
10        0.000000
11        0.000000
12        0.000000
13        0.000000
14        0.006402
15        0.000000
16        0.000000
17        0.006402
18        0.000000
19        0.000000
20        0.006402
21        0.000000
22        0.000000
23        0.000000
24        0.000000
25        0.000000
26        0.000000
27        0.000000
28        0.000000
29        0.006402
            ...
307481    0.000000
307482    0.000000
307483    0.000000
307484    0.006402
307485    0.000000
307486    0.000000
307487    0.000000
307488    0.000000
307489    0.000000
307490    0.000000
307491    0.000000
307492    0.000000
307493    0.000000
307494    0.000000
307495    0.000000
307496    0.000000
307497    0.000000
307498    0.000000
307499    0.000000
307500    0.000000
307501    0.006402
307502    0.000000
307503    0.000000
307504    0.006402
307505    0.000000
307506    0.006402
307507    0.006402
307508    1.000000
307509    0.000000
307510    0.000000
Name: AMT_REQ_CREDIT_BUREAU_HOUR, Length: 307511, dtype: float64

In [80]:
application_test_df.loc[application_test_df['AMT_REQ_CREDIT_BUREAU_DAY'].isna(), 'AMT_REQ_CREDIT_BUREAU_DAY'] = application_test_df['AMT_REQ_CREDIT_BUREAU_DAY'].mean()
application_test_df['AMT_REQ_CREDIT_BUREAU_DAY']

0         0.000
1         0.000
2         0.000
3         0.007
4         0.000
5         0.000
6         0.000
7         0.000
8         0.000
9         0.007
10        0.000
11        0.000
12        0.000
13        0.000
14        0.007
15        0.000
16        0.000
17        0.007
18        0.000
19        0.000
20        0.007
21        0.000
22        0.000
23        0.000
24        0.000
25        0.000
26        0.000
27        0.000
28        0.000
29        0.007
          ...
307481    0.000
307482    0.000
307483    0.000
307484    0.007
307485    0.000
307486    0.000
307487    0.000
307488    0.000
307489    0.000
307490    0.000
307491    0.000
307492    0.000
307493    0.000
307494    0.000
307495    0.000
307496    0.000
307497    0.000
307498    0.000
307499    0.000
307500    0.000
307501    0.007
307502    0.000
307503    0.000
307504    0.007
307505    0.000
307506    0.007
307507    0.007
307508    0.000
307509    0.000
307510    0.000
Name: AMT_REQ_CREDIT_BUREAU_DAY, Length: 307511, dtype: float64

In [81]:
application_test_df.loc[application_test_df['AMT_REQ_CREDIT_BUREAU_WEEK'].isna(), 'AMT_REQ_CREDIT_BUREAU_WEEK'] = application_test_df['AMT_REQ_CREDIT_BUREAU_WEEK'].mean()
application_test_df['AMT_REQ_CREDIT_BUREAU_WEEK']

0         0.000000
1         0.000000
2         0.000000
3         0.034362
4         0.000000
5         0.000000
6         0.000000
7         0.000000
8         0.000000
9         0.034362
10        0.000000
11        0.000000
12        0.000000
13        0.000000
14        0.034362
15        0.000000
16        0.000000
17        0.034362
18        0.000000
19        0.000000
20        0.034362
21        0.000000
22        0.000000
23        0.000000
24        0.000000
25        0.000000
26        0.000000
27        0.000000
28        0.000000
29        0.034362
            ...
307481    0.000000
307482    0.000000
307483    0.000000
307484    0.034362
307485    0.000000
307486    0.000000
307487    0.000000
307488    0.000000
307489    0.000000
307490    0.000000
307491    0.000000
307492    0.000000
307493    0.000000
307494    1.000000
307495    0.000000
307496    0.000000
307497    0.000000
307498    0.000000
307499    0.000000
307500    0.000000
307501    0.034362
307502    0.000000
307503    0.000000
307504    0.034362
307505    0.000000
307506    0.034362
307507    0.034362
307508    0.000000
307509    0.000000
307510    0.000000
Name: AMT_REQ_CREDIT_BUREAU_WEEK, Length: 307511, dtype: float64

In [82]:
application_test_df.loc[application_test_df['AMT_REQ_CREDIT_BUREAU_MON'].isna(), 'AMT_REQ_CREDIT_BUREAU_MON'] = application_test_df['AMT_REQ_CREDIT_BUREAU_MON'].mean()
application_test_df['AMT_REQ_CREDIT_BUREAU_MON']

0         0.000000
1         0.000000
2         0.000000
3         0.267395
4         0.000000
5         0.000000
6         1.000000
7         0.000000
8         0.000000
9         0.267395
10        1.000000
11        0.000000
12        1.000000
13        0.000000
14        0.267395
15        0.000000
16        0.000000
17        0.267395
18        0.000000
19        0.000000
20        0.267395
21        0.000000
22        0.000000
23        0.000000
24        0.000000
25        0.000000
26        0.000000
27        0.000000
28        1.000000
29        0.267395
            ...
307481    0.000000
307482    0.000000
307483    0.000000
307484    0.267395
307485    0.000000
307486    0.000000
307487    0.000000
307488    0.000000
307489    0.000000
307490    0.000000
307491    0.000000
307492    0.000000
307493    0.000000
307494    0.000000
307495    0.000000
307496    0.000000
307497    0.000000
307498    0.000000
307499    1.000000
307500    1.000000
307501    0.267395
307502    0.000000
307503    1.000000
307504    0.267395
307505    2.000000
307506    0.267395
307507    0.267395
307508    1.000000
307509    0.000000
307510    2.000000
Name: AMT_REQ_CREDIT_BUREAU_MON, Length: 307511, dtype: float64

In [83]:
application_test_df.loc[application_test_df['AMT_REQ_CREDIT_BUREAU_QRT'].isna(), 'AMT_REQ_CREDIT_BUREAU_QRT'] = application_test_df['AMT_REQ_CREDIT_BUREAU_QRT'].mean()
application_test_df['AMT_REQ_CREDIT_BUREAU_QRT']

0         0.000000
1         0.000000
2         0.000000
3         0.265474
4         0.000000
5         1.000000
6         1.000000
7         0.000000
8         0.000000
9         0.265474
10        0.000000
11        0.000000
12        0.000000
13        0.000000
14        0.265474
15        0.000000
16        1.000000
17        0.265474
18        0.000000
19        0.000000
20        0.265474
21        1.000000
22        0.000000
23        0.000000
24        0.000000
25        0.000000
26        2.000000
27        0.000000
28        0.000000
29        0.265474
            ...
307481    0.000000
307482    0.000000
307483    0.000000
307484    0.265474
307485    0.000000
307486    1.000000
307487    1.000000
307488    2.000000
307489    1.000000
307490    0.000000
307491    1.000000
307492    0.000000
307493    1.000000
307494    0.000000
307495    0.000000
307496    0.000000
307497    0.000000
307498    0.000000
307499    1.000000
307500    0.000000
307501    0.265474
307502    0.000000
307503    0.000000
307504    0.265474
307505    0.000000
307506    0.265474
307507    0.265474
307508    0.000000
307509    0.000000
307510    0.000000
Name: AMT_REQ_CREDIT_BUREAU_QRT, Length: 307511, dtype: float64

In [84]:
application_test_df.loc[application_test_df['AMT_REQ_CREDIT_BUREAU_YEAR'].isna(), 'AMT_REQ_CREDIT_BUREAU_YEAR'] = application_test_df['AMT_REQ_CREDIT_BUREAU_YEAR'].mean()
application_test_df['AMT_REQ_CREDIT_BUREAU_YEAR']

0         1.000000
1         0.000000
2         0.000000
3         1.899974
4         0.000000
5         1.000000
6         2.000000
7         0.000000
8         1.000000
9         1.899974
10        0.000000
11        2.000000
12        0.000000
13        1.000000
14        1.899974
15        1.000000
16        0.000000
17        1.899974
18        0.000000
19        2.000000
20        1.899974
21        4.000000
22        5.000000
23        3.000000
24        0.000000
25        0.000000
26        2.000000
27        0.000000
28        1.000000
29        1.899974
            ...
307481    3.000000
307482    1.000000
307483    5.000000
307484    1.899974
307485    0.000000
307486    1.000000
307487    8.000000
307488    1.000000
307489    2.000000
307490    1.000000
307491    7.000000
307492    0.000000
307493    7.000000
307494    1.000000
307495    1.000000
307496    2.000000
307497    6.000000
307498    2.000000
307499    0.000000
307500    5.000000
307501    1.899974
307502    1.000000
307503    2.000000
307504    1.899974
307505    0.000000
307506    1.899974
307507    1.899974
307508    1.000000
307509    0.000000
307510    1.000000
Name: AMT_REQ_CREDIT_BUREAU_YEAR, Length: 307511, dtype: float64

In [86]:
application_test_df.loc[application_test_df['APARTMENTS_AVG'].isna(), 'APARTMENTS_AVG'] = application_test_df['APARTMENTS_AVG'].mean()
application_test_df['APARTMENTS_AVG']

0         0.02470
1         0.09590
2         0.11744
3         0.11744
4         0.11744
5         0.11744
6         0.11744
7         0.11744
8         0.11744
9         0.11744
10        0.11744
11        0.11744
12        0.08250
13        0.14740
14        0.34950
15        0.11744
16        0.11744
17        0.11744
18        0.02780
19        0.11744
20        0.07220
21        0.11744
22        0.09070
23        0.14430
24        0.14330
25        0.07220
26        0.01650
27        0.11744
28        0.11744
29        0.15050
           ...
307481    0.11744
307482    0.03920
307483    0.00820
307484    0.11744
307485    0.11744
307486    0.24590
307487    0.11744
307488    0.11744
307489    0.01130
307490    0.11744
307491    0.11744
307492    0.11744
307493    0.11744
307494    0.11744
307495    0.07420
307496    0.11744
307497    0.11744
307498    0.20620
307499    0.11744
307500    0.12990
307501    0.03920
307502    0.11744
307503    0.11744
307504    0.11744
307505    0.22060
307506    0.20210
307507    0.02470
307508    0.10310
307509    0.01240
307510    0.07420
Name: APARTMENTS_AVG, Length: 307511, dtype: float64

In [87]:
application_test_df.isna().sum()

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
FLAG_OWN_REALTY                   0
CNT_CHILDREN                      0
AMT_INCOME_TOTAL                  0
AMT_CREDIT                        0
AMT_ANNUITY                      12
AMT_GOODS_PRICE                 278
NAME_TYPE_SUITE                1292
NAME_INCOME_TYPE                  0
NAME_EDUCATION_TYPE               0
NAME_FAMILY_STATUS                0
NAME_HOUSING_TYPE                 0
REGION_POPULATION_RELATIVE        0
DAYS_BIRTH                        0
DAYS_EMPLOYED                     0
DAYS_REGISTRATION                 0
DAYS_ID_PUBLISH                   0
OWN_CAR_AGE                       5
OCCUPATION_TYPE                   0
CNT_FAM_MEMBERS                   2
REGION_RATING_CLIENT              0
REGION_RATING_CLIENT_W_CITY       0
WEEKDAY_APPR_PROCESS_START        0
HOUR_APPR_PROCESS_START           0
REG_REGION_NOT_LIVE_REGION        0
REG_REGION_NOT_WORK_REGION        0
LIVE_REGION_NOT_WORK_REGION       0
REG_CITY_NOT_LIVE_CITY            0
REG_CITY_NOT_WORK_CITY            0
LIVE_CITY_NOT_WORK_CITY           0
ORGANIZATION_TYPE                 0
EXT_SOURCE_1                      0
EXT_SOURCE_2                      0
EXT_SOURCE_3                      0
APARTMENTS_AVG                    0
OBS_30_CNT_SOCIAL_CIRCLE          0
DEF_30_CNT_SOCIAL_CIRCLE          0
OBS_60_CNT_SOCIAL_CIRCLE          0
DEF_60_CNT_SOCIAL_CIRCLE          0
AMT_REQ_CREDIT_BUREAU_HOUR        0
AMT_REQ_CREDIT_BUREAU_DAY         0
AMT_REQ_CREDIT_BUREAU_WEEK        0
AMT_REQ_CREDIT_BUREAU_MON         0
AMT_REQ_CREDIT_BUREAU_QRT         0
AMT_REQ_CREDIT_BUREAU_YEAR        0
dtype: int64

In [88]:
train_mini_sample = application_test_df.sample(n=25000)

In [89]:
train_mini_sample

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
11439,113315,0,Cash loans,F,N,Y,1,193500.0,752742.0,75343.5,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000,0.000000,1.000000,0.000000,0.000000
220300,355206,0,Cash loans,M,Y,Y,2,270000.0,1199749.5,67122.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,1.000000,0.000000,0.000000,6.000000
169110,296014,0,Cash loans,F,N,N,0,135000.0,269550.0,12001.5,...,10.000000,0.000000,10.000000,0.000000,0.000000,0.000,0.000000,1.000000,0.000000,3.000000
48404,156056,0,Cash loans,F,Y,N,0,117000.0,225000.0,16501.5,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,3.000000
200414,332331,0,Cash loans,F,N,N,0,247500.0,684000.0,20128.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,1.000000,2.000000,3.000000
142202,264883,0,Cash loans,F,N,N,0,112500.0,526491.0,22131.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,2.000000,1.000000
64224,174470,1,Cash loans,F,N,N,0,135000.0,1155226.5,37395.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,1.000000
16844,119644,0,Cash loans,F,Y,Y,0,157500.0,519282.0,49432.5,...,0.000000,0.000000,0.000000,0.000000,0.006402,0.007,0.034362,0.267395,0.265474,1.899974
19453,122686,0,Cash loans,M,Y,N,0,202500.0,450000.0,27193.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,1.000000
50312,158252,0,Cash loans,F,N,N,1,90000.0,454500.0,21865.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,1.000000
64702,175042,0,Cash loans,M,Y,Y,0,180000.0,640080.0,29839.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,2.000000
236096,373462,0,Cash loans,F,N,Y,1,67500.0,211500.0,18085.5,...,1.000000,0.000000,1.000000,0.000000,0.006402,0.007,0.034362,0.267395,0.265474,1.899974
120968,240250,0,Revolving loans,F,Y,Y,0,112500.0,180000.0,9000.0,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,2.000000
72771,184390,0,Cash loans,F,N,Y,0,135000.0,1078200.0,31653.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,2.000000,1.000000
109496,226988,0,Revolving loans,F,N,Y,0,90000.0,135000.0,6750.0,...,1.422245,0.143421,1.405292,0.100049,0.000000,0.000,0.000000,0.000000,2.000000,2.000000
179291,307757,0,Cash loans,F,N,N,1,180000.0,348826.5,17095.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,1.000000
125091,245067,1,Cash loans,M,N,N,0,135000.0,296280.0,23539.5,...,0.000000,0.000000,0.000000,0.000000,0.006402,0.007,0.034362,0.267395,0.265474,1.899974
107420,224630,0,Cash loans,F,Y,N,0,112500.0,640080.0,19534.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
252796,392515,0,Cash loans,F,N,Y,0,81000.0,247275.0,17338.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,1.000000,0.000000,0.000000
95162,210488,0,Cash loans,M,Y,N,1,225000.0,755190.0,36328.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,4.000000
41134,147628,0,Cash loans,F,N,Y,1,135000.0,855882.0,36261.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,4.000000
159438,284827,0,Cash loans,F,N,N,0,112500.0,247275.0,21280.5,...,2.000000,0.000000,2.000000,0.000000,0.000000,0.000,0.000000,0.000000,1.000000,1.000000
253166,392945,0,Cash loans,F,N,Y,0,495000.0,974610.0,41422.5,...,3.000000,0.000000,3.000000,0.000000,0.000000,0.000,0.000000,0.000000,1.000000,3.000000
40216,146586,0,Cash loans,F,N,Y,1,81000.0,254700.0,27153.0,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000,0.000000,0.000000,1.000000,2.000000
198743,330432,0,Cash loans,M,Y,Y,0,116100.0,544491.0,17694.0,...,3.000000,0.000000,3.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,2.000000
235537,372823,0,Cash loans,F,Y,Y,1,171000.0,814041.0,28971.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,1.000000,0.000000,2.000000
56755,165773,0,Cash loans,F,N,Y,0,315000.0,485640.0,41674.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,2.000000
232802,369635,1,Cash loans,F,N,N,0,99000.0,808650.0,26217.0,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
267469,409884,0,Cash loans,F,N,Y,0,171000.0,243000.0,17041.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,4.000000
120784,240038,0,Cash loans,F,N,Y,0,225000.0,337761.0,17374.5,...,4.000000,0.000000,4.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51205,159291,0,Cash loans,F,N,Y,0,157500.0,224136.0,14593.5,...,0.000000,0.000000,0.000000,0.000000,0.006402,0.007,0.034362,0.267395,0.265474,1.899974
39512,145750,0,Revolving loans,M,Y,Y,1,216000.0,337500.0,16875.0,...,2.000000,0.000000,2.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,3.000000
178194,306495,0,Cash loans,F,N,Y,0,67500.0,182016.0,11979.0,...,2.000000,0.000000,2.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
94677,209935,0,Cash loans,F,N,Y,0,90000.0,808650.0,23305.5,...,15.000000,0.000000,15.000000,0.000000,0.000000,0.000,0.000000,1.000000,0.000000,0.000000
8077,109418,0,Cash loans,F,N,N,0,202500.0,766282.5,39253.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,4.000000
246957,385776,0,Cash loans,F,N,N,0,202500.0,450000.0,28890.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,3.000000
191366,321885,0,Cash loans,F,N,Y,0,90000.0,381528.0,17914.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
185161,314636,0,Cash loans,F,Y,Y,1,202500.0,873000.0,25654.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,3.000000
224993,360606,0,Cash loans,F,N,Y,0,180000.0,592560.0,35937.0,...,8.000000,2.000000,8.000000,1.000000,0.000000,0.000,0.000000,0.000000,0.000000,1.000000
208606,341784,0,Cash loans,F,N,Y,0,382500.0,722394.0,26667.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,7.000000
109995,227571,0,Cash loans,M,N,Y,0,225000.0,360000.0,13572.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,1.000000
118814,237778,0,Cash loans,F,N,Y,0,67500.0,180000.0,17662.5,...,8.000000,2.000000,8.000000,1.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
5025,105877,0,Cash loans,M,N,Y,0,47250.0,73944.0,2785.5,...,3.000000,2.000000,3.000000,2.000000,0.000000,0.000,0.000000,0.000000,2.000000,2.000000
41439,147974,0,Cash loans,F,N,Y,0,90000.0,1125000.0,47664.0,...,5.000000,1.000000,5.000000,1.000000,0.000000,0.000,0.000000,0.000000,0.000000,3.000000
161704,287463,0,Cash loans,F,N,Y,0,81000.0,495000.0,23944.5,...,0.000000,0.000000,0.000000,0.000000,0.006402,0.007,0.034362,0.267395,0.265474,1.899974
125083,245056,1,Cash loans,F,N,Y,0,126000.0,193500.0,21883.5,...,2.000000,1.000000,2.000000,1.000000,0.006402,0.007,0.034362,0.267395,0.265474,1.899974
40487,146896,0,Cash loans,F,N,Y,0,135000.0,562491.0,22306.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,1.000000
235138,372365,0,Cash loans,F,N,N,0,157500.0,495000.0,51979.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,2.000000
5244,106134,0,Cash loans,M,Y,Y,0,270000.0,325377.0,33471.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,3.000000
125654,245707,0,Revolving loans,M,Y,Y,1,112500.0,180000.0,9000.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,1.000000
129465,250165,0,Cash loans,F,Y,Y,0,121500.0,808650.0,23773.5,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,2.000000,2.000000
251205,390669,0,Revolving loans,M,Y,Y,2,270000.0,810000.0,40500.0,...,1.422245,0.143421,1.405292,0.100049,0.000000,0.000,0.000000,2.000000,0.000000,2.000000
268795,411497,0,Cash loans,M,N,N,1,225000.0,545040.0,20677.5,...,13.000000,0.000000,13.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,2.000000
111865,229780,0,Cash loans,M,N,Y,1,162000.0,364500.0,28926.0,...,1.000000,0.000000,1.000000,0.000000,0.000000,0.000,1.000000,0.000000,0.000000,0.000000
121301,240632,0,Cash loans,M,Y,Y,1,135000.0,601470.0,32760.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,2.000000,0.000000,4.000000
172363,299736,0,Cash loans,F,Y,Y,2,166500.0,1129500.0,31059.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,1.000000,3.000000
64089,174315,0,Cash loans,M,Y,N,1,202500.0,755190.0,28116.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,1.000000
300895,448592,1,Cash loans,F,N,N,0,315000.0,450000.0,20979.0,...,2.000000,0.000000,2.000000,0.000000,0.000000,0.000,0.000000,2.000000,0.000000,4.000000
226084,361860,0,Revolving loans,M,N,Y,0,135000.0,270000.0,13500.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,0.000000
132331,253483,0,Cash loans,M,Y,N,0,450000.0,1800000.0,66708.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000,0.000000,3.000000

In [90]:
train_mini_sample.to_csv("train_sample_25000.csv")